@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.content {
  background: v.$primary-dark;
  height: 100%;
  width: 100%;

  .movies-section {
    padding: 3rem 0;
  }

  .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
    grid-gap: 1rem;
    place-items: center;
    place-content: center;
    padding: 2rem 0;

    @include m.breakpoint(medium) {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      grid-gap: 2rem;
    }

    img {
      height: 10.8rem;
      width: 6.5rem;
      object-fit: cover;
      border-radius: 5px;
      cursor: pointer;

      @include m.breakpoint(medium) {
        height: 17rem;
        width: 11.5rem;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  padding: 0.8rem 0;

  justify-content: center;
  align-items: end;

  @include m.breakpoint(medium) {
    align-items: center;
  }

  &__content {
    background-color: v.$primary-neutral;
    width: 95%;
    border-radius: 5px;
    max-width: 550px;

    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 1rem;
    padding: 1rem;

    &--image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    &--details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .heading {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .cast {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        min-height: 6rem;
      }

      .icons {
        padding-top: 0.5rem;
      }
    }

    .placeholder {
      background-color: gainsboro;
      border-radius: 5px;

      &__image {
        @extend .placeholder;
        height: 100%;
        width: 100%;
      }

      &__title {
        @extend .placeholder;
        height: 1.8rem;
      }

      &__group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      &__text {
        @extend .placeholder;
        height: 1.2rem;
      }

      &__desc {
        @extend .placeholder;
        height: 6rem;
      }

      &__icons {
        @extend .placeholder;
        height: 2rem;
      }
    }
  }
}

.swiper {
  width: 100vw;
  height: 100vh;

  .swiper-slide {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-wrapper {
    .overlay {
      background: linear-gradient(
        71.17deg,
        rgba(0, 0, 0, 0.6106) 16.95%,
        rgba(19, 19, 19, 0.1032) 99.64%
      );
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 50;
    }

    .movie-container {
      position: absolute;
      left: 0;
      bottom: 80px;
      z-index: 100;
      width: 100%;

      @include m.breakpoint(medium) {
        bottom: 100px;
      }

      h3 {
        max-width: 550px;
      }

      p {
        margin-top: 1rem;
        color: v.$primary-neutral;
        max-width: 450px;
        font-size: clamp(1rem, 3vw, 1.1rem);
      }
    }
  }
}
