@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.content {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.swiper {
  width: 100vw;
  height: 100vh;
  // z-index: 10;
  // background: linear-gradient(
  //   71.17deg,
  //   rgba(0, 0, 0, 0.6106) 16.95%,
  //   rgba(19, 19, 19, 0.1032) 99.64%
  // );

  .swiper-slide {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-wrapper {
    .overlay {
      background: linear-gradient(
        71.17deg,
        rgba(0, 0, 0, 0.6106) 16.95%,
        rgba(19, 19, 19, 0.1032) 99.64%
      );
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 50;
    }

    .movie-container {
      position: absolute;
      left: 0;
      bottom: 30px;
      z-index: 100;
      width: 100%;

      @include m.breakpoint(medium) {
        bottom: 80px;
      }

      h3 {
        max-width: 550px;
      }

      p {
        margin-top: 1rem;
        color: v.$primary-neutral;
        max-width: 450px;
        font-size: clamp(1rem, 3vw, 1.1rem);
      }
    }
  }
}
