@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.search {
  min-height: 100vh;
  height: 100%;
  width: 100%;

  .nav {
    position: relative;
  }

  &__group {
    padding: 1rem 0;

    form {
      width: 100%;

      input {
        border-radius: 5px;
        border: 1px solid v.$primary-light;
        background: none;
        width: 100%;
        padding: 0.6rem 1rem;
        color: v.$primary-light-transparent;

        &::placeholder {
          color: v.$primary-light-transparent;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  &__placeholder {
    .movie-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
      grid-gap: 1rem;
      place-items: center;
      place-content: center;
      padding: 2rem 0;

      @include m.breakpoint(medium) {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 2rem;
      }

      &__item__placeholder {
        height: 10.8rem;
        width: 6.5rem;
        background-color: v.$placeholder-search;
        cursor: pointer;
        border-radius: 5px;

        @include m.breakpoint(medium) {
          height: 17rem;
          width: 11.5rem;
        }
      }
    }
  }

  &__results {
    padding: 3rem 0;

    .movie-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
      grid-gap: 1rem;
      place-items: center;
      place-content: center;
      padding: 2rem 0;

      @include m.breakpoint(medium) {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 2rem;
      }

      img {
        height: 10.8rem;
        width: 6.5rem;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;

        @include m.breakpoint(medium) {
          height: 17rem;
          width: 11.5rem;
        }
      }
    }
  }
}
