@use "../abstracts/variables" as v;

.heading {
  font-family: "Montserrat", sans-serif;
line-height: 100%;

  &--small {
    @extend .heading;
    
    font-size: 1.5rem;
    color: v.$primary;
    font-weight: 700;
   
  }

  &--medium {
    @extend .heading;
    
    font-size: 2rem;
    color: v.$primary-neutral;
    font-weight: 900;
    
    
  }
}
