@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.heading {
  font-family: "Montserrat", sans-serif;
  line-height: 100%;

  &__small {
    @extend .heading;
    font-size: clamp(1.5rem, 4vw, 1.7rem);
    color: v.$primary;
    font-weight: 700;

    &--white {
      @extend .heading__small;
      color: v.$primary-neutral;
    }
  }

  &__medium {
    @extend .heading;

    font-size: clamp(2rem, 4vw, 8rem);
    color: v.$primary-neutral;
    font-weight: 900;
  }
}
