@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.hero__background {
  background: url(#{v.$assetsPath}/movies.png);
  background-position: 80% 40%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

  .container {
    display: grid;

    @include m.breakpoint(medium) {
      grid-template-columns: repeat(12, 1fr);
      place-items: start center;
      place-content: center start;
    }
  }

  .hero__content {
    display: grid;
    place-items: center start;
    place-content: center start;
    gap: 0.8rem;
    height: 100vh;

    @include m.breakpoint(medium) {
      grid-column: 1/6;
      gap: 1rem;
    }

    .text {
      color: v.$primary-neutral;
    }
  }
}
