// Map with breakpoints for media queries
$breakpoints: (
  "small": 36em,
  "medium": 48em,
  "large": 56.25em,
  "xlarge": 64em,
);

// Mixin for media queries
@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

// Mixin for line clamp

@mixin line-clamp($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
  -webkit-box-orient: vertical;
}
