$primary-neutral: #fff;
$primary: #3b5249;
$primary-light: #dceddd;
$primary-dark: #04100b;
$primary-line: rgba(55, 59, 60, 0.12);

$placeholder: rgba(0, 0, 0, 0.45);
$error: #ff0000;
$success: #049904;

$assetsPath: "/src/assets";
